html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 1.6rem;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: minmax(150px, 300px) minmax(800px, 4fr);
  grid-template-rows: 1fr 5fr;
  flex: 1;
  max-width: 1400px;
}

.sidebar {
  background-color: lightblue;
  grid-row: 1 / span 2 ;
  padding: 10px 0 10px 10px;
}

ul {
  margin: 50px 0;
}

li {
  margin: 10px 0;
}

.header {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.header > div {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.header input{
  flex: 1;
  height: 1.4rem;
  border-radius: 0.7rem;
  padding: 0 10px;
}

.header > :last-child > :first-child {
  flex: 1;
}

.header ul {
  display: flex;
  margin: 0 0 0 100px;
}

.header li {
  margin: 0 0 0 10px;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: orange;
}
.content {
  background-color: lightgray;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  padding: 30px;
  gap: 30px;
}

.content h1 {
  grid-column: 1 / span 2;
}

.projects {
  grid-row: 1 / span 2;
  display: grid;
  gap: 30px;
  grid-template: auto repeat(3, 1fr) / 1fr 1fr;
}

.cards {
  background-color: white;
  border-radius: 20px;
  border-left: 20px solid orange;
}

.announcements,
.trending {
  display: grid;
  grid-template: auto 1fr / 1fr;
  gap: 30px;
}

.announcements > div,
.trending > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 0 20px;
}

.announcements > div div,
.trending > div div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcements > div > :nth-child(2),
.trending > div > :nth-child(2) {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}